// You can add CSS rules here that will be inlucded in Hydejack's CSS file

/* Sidebar Game Title Image */
.sidebar-about .avatar {
    max-width: 100%;
    border-radius: 0;
    width: auto;
    height: auto;
}